.fs-10xl {
    font-size: 4.052rem !important;
  }
  
  .fs-9xl {
    font-size: 3.566rem !important;
  }
  
  .fs-8xl {
    font-size: 3.125rem !important;
  }
  
  .fs-7xl {
    font-size: 2.734rem !important;
  }
  
  .fs-6xl {
    font-size: 2.566rem !important;
  }
  
  .fs-5xl {
    font-size: 2.281rem !important;
  }
  
  .fs-4xl {
    font-size: 2.027rem !important;
  }
  
  .fs-3xl {
    font-size: 1.802rem !important;
  }
  
  .fs-2xl {
    font-size: 1.602rem !important;
  }
  
  .fs-xl {
    font-size: 1.424rem !important;
  }
  
  .fs-lg {
    font-size: 1.266rem !important;
  }
  
  .fs-md {
    font-size: 1.125rem !important;
  }
  
  .fs-base {
    font-size: 1rem !important;
  }
  
  .fs-sm {
    font-size: 0.889rem !important;
  }
  
  .fs-xs {
    font-size: 0.79rem !important;
  }
  
  .fs-caption {
    font-size: 0.624rem !important;
  }
  
  .fs-serif {
    font-family: serif !important;
  }
  