
@import "./partials/variables";
@import "./partials/reset";
@import "./partials/fonts-size";
@import "./partials/sweetalert";

.v-container {
  width: 100% !important;
  margin: 0 auto;
//   background-color: red !important;
}

@media screen and (min-width: $sm) {
  .v-container {
    width: 100% !important;
  }
}
@media screen and (min-width: $md) {
  .v-container {
    width: 85% !important;
  }
}
@media screen and (min-width: $lg) {
  .v-container {
    width: 80% !important;
    max-width: 1400px;
    // background-color: red;
  }
}
// @media screen and (min-width: $xl) {
// 	.v-container {
// 		width: 80%;
// 	}
// }
